node_modules
uploads
__pycache__
.env
ModelForAnalysis/audio_analysis_multi_genre.h5
ModelForAnalysis/video_analysis_vgg16_adamax.h5
audio_analysis_multi_genre.h5
video_analysis_vgg16_adamax.h5
ModelForAnalysis/VideoRating.ipynb
VideoRating.ipynb
ModelForAnalysis/VideoRating2.ipynb
VideoRating2.ipynb
ipynb